<div class="container">

	<div class="panel panel-default">

		<div class="panel-heading">Add new composer</div>

		<div class="panel-body">

			<form name="addComposerForm" class="form-horizontal" method="post"
				ng-submit="addComposer(composer)" novalidate>

				<div class="form-group has-feedback"
					ng-class="{'has-error' : addComposerForm.name.$invalid && addComposerForm.name.$dirty }">
					<label class="col-sm-2 control-label"><i class="ion-person"></i>
						Name</label>
					<div class="col-sm-5">
						<input name="name" type="text" class="form-control"
							ng-model="composer.name" ng-maxlength="120" required autofocus />
					</div>
					<span class="form-control-feedback"></span>
					<div class="help-block text-danger"
						ng-if="addComposerForm.name.$dirty"
						ng-messages="addComposerForm.name.$error">
						<div ng-message="required">Composer name is required</div>
						<div ng-message="maxlength">Composer name must not be longer
							than 120 characters.</div>
					</div>
				</div>

				<div class="form-group has-feedback"
					ng-class="{'has-error' : addComposerForm.dateOfBirth.$invalid && addComposerForm.dateOfBirth.$dirty }">
					<label class="col-sm-2 control-label"><i
						class="ion-calendar"></i> Date of birth</label>
					<div class="col-sm-3">
						<input name="dateOfBirth" type="date" class="form-control"
							placeholder="yyyy-mm-dd" ng-model="composer.dateOfBirth" required />
					</div>
					<span class="form-control-feedback"></span>
					<div class="help-block text-danger"
						ng-if="addComposerForm.dateOfBirth.$dirty"
						ng-messages="addComposerForm.dateOfBirth.$error">
						<div ng-message="required">Date of birth is required</div>
						<div ng-message="date">Date of birth is invalid</div>
					</div>
				</div>

				<div class="form-group has-feedback">
					<label class="col-sm-2 control-label"><i
						class="ion-calendar"></i> Date of death</label>
					<div class="col-sm-3">
						<input name="dateOfDeath" type="date" class="form-control"
							placeholder="yyyy-mm-dd" ng-model="composer.dateOfDeath" />
					</div>
					<span class="form-control-feedback"></span>
					<div class="help-block text-danger"
						ng-if="addComposerForm.dateOfDeath.$dirty"
						ng-messages="addComposerForm.dateOfDeath.$error">
						<div ng-message="date">Date of death is invalid</div>
					</div>
				</div>
				<button type="submit" class="col-sm-offset-2 btn btn-success"
					ng-disabled="addComposerForm.$invalid">Add</button>
				<button type="reset" ng-click="resetAddComposer(composer.id)"
					class="btn btn-info">Cancel</button>
			</form>

		</div>
	</div>


	<div class="row" ng-repeat="cols in rows">
		<div class="col-md-6" ng-repeat="composer in cols">
			<div class="panel panel-default col-md-12">
				<div class="panel-heading">
					<a href="/#/composers/{{composer.id}}">{{composer.name}}</a>
				</div>

				<div class="panel-body">

					<form class="form-horizontal" name="updateComposerForm"
						method="post" ng-submit="updateComposer(composer)">

						<div class="form-group has-feedback"
							ng-class="{'has-error' : updateComposerForm.name.$invalid && updateComposerForm.name.$dirty }">
							<label class="col-sm-5 control-label"><i
								class="ion-person"></i> Name</label>
							<div class="col-sm-7">
								<input type="text" name="name" class="form-control"
									ng-model="composer.name" ng-maxlength="120" required />
							</div>
							<span class="form-control-feedback"></span>
							<div class="col-sm-offset-5 help-block text-danger"
								ng-if="updateComposerForm.name.$dirty"
								ng-messages="updateComposerForm.name.$error">
								<div ng-message="required">Composer name is required</div>
								<div ng-message="maxlength">Composer name must not be
									longer than 120 characters.</div>
							</div>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error' : updateComposerForm.dateOfBirth.$invalid && updateComposerForm.dateOfBirth.$dirty }">
							<label class="col-sm-5 control-label"><i
								class="ion-calendar"></i> Date of birth</label>
							<div class="col-sm-7">
								<input name="dateOfBirth" type="date" class="form-control"
									placeholder="yyyy-mm-dd" ng-model="composer.dateOfBirth"
									required />
							</div>
							<span class="form-control-feedback"></span>
							<div class="col-sm-offset-5 help-block text-danger"
								ng-if="updateComposerForm.dateOfBirth.$dirty"
								ng-messages="updateComposerForm.dateOfBirth.$error">
								<div ng-message="required">Date of birth is required</div>
								<div ng-message="date">Date of birth is invalid</div>
							</div>
						</div>

						<div class="form-group has-feedback"
							ng-class="{'has-error' : updateComposerForm.dateOfDeath.$invalid && updateComposerForm.dateOfDeath.$dirty }">
							<label class="col-sm-5 control-label"><i
								class="ion-calendar"></i> Date of death</label>
							<div class="col-sm-7">
								<input name="dateOfDeath" type="date" class="form-control"
									placeholder="yyyy-mm-dd" ng-model="composer.dateOfDeath" />
							</div>
							<span class="form-control-feedback"></span>
							<div class="col-sm-offset-5 help-block text-danger"
								ng-if="updateComposerForm.dateOfDeath.$dirty"
								ng-messages="updateComposerForm.dateOfDeath.$error">
								<div ng-message="date">Date of death is invalid</div>
							</div>
						</div>

						<button type="submit" class="col-sm-offset-5 btn btn-success"
							ng-disabled="updateComposerForm.$invalid">Update</button>
						<button type="button" ng-click="reset(composer.id)"
							class="btn btn-info">Cancel</button>
						<button type="button" ng-click="deleteComposer(composer)"
							class="btn btn-primary">Delete</button>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

