<div class="container">

  <div ng-if="isAuthenticated()">
    <div class="row">
      <div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#/photo/{{photo.id}}">
          <img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-bonfire"></i> TheCatalog</h2>
      <p>Store and catalog your sheet music files! </p>
      <p>Upload an annotated pdf file or scan your sheet music
      with your own customised edits and fingering. </p>
      Please log in with your Google+, Facebook, Twitter account or 
      create a new email account.</p>
      <p>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Login</a>
        <a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Sign up</a>
      </p>
    </div>
  </div>

</div>